Repository topher200/wafflebot: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, prettier

lefthook.yml:

pre-commit:
  commands:
    ruff-check:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{yml,yaml,md}"
      run: bun prettier --write {staged_files}
      stage_fixed: true

Add bun setup to GitHub Actions workflow
  .github/workflows/lint.yml
Due: prettier

fix(docker): set HOME environment variable for user mapping
  docker-compose.test.yml
Due: prettier

fix(docker): correct YAML syntax in docker-compose.test.yml
  docker-compose.test.yml
Due: prettier

Fix bun prettier command syntax for better compatibility
  .github/workflows/lint.yml
  lefthook.yml
Due: prettier

fix(docker): add volume initialization to resolve uv cache permissions
  docker-compose.test.yml
Due: prettier

fix(docker): disable uv cache to resolve permission errors
  docker-compose.test.yml
Due: prettier

fix(docker): pre-create logs directory to resolve permission errors
  Dockerfile
Due: none

fix(docker): set proper ownership for logs directory
  Dockerfile
Due: none

Add bun.lock for consistent dependency resolution
  README.md
  bun.lock
Due: prettier

chore(prettier): explicit allow rules for file extensions
  .prettierignore
Due: none

chore(prettier): explicit allow rules for file extensions (#107)
  .prettierignore
Due: none

refactor(docker-compose): use overrides for explicit environment files
  README.md
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.volumes.yml
  run-wafflebot.sh
  src/update_rss_feed/README.md
Due: prettier

refactor(docker-compose): use overrides for explicit environment files (#101)
  README.md
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.volumes.yml
  run-wafflebot.sh
  src/update_rss_feed/README.md
Due: prettier

readme update (#102)
  README.md
Due: prettier

Change audio normalization from global to per-segment
  src/mixer/generate_audio.py
Due: ruff-check, ruff-format

Add detailed timestamp logging to audio mixing pipeline
  src/mixer/generate_audio.py
Due: ruff-check, ruff-format

Address GitHub PR comments: remove manual timestamps from logging
  src/mixer/generate_audio.py
Due: ruff-check, ruff-format

Fix ruff formatting issues
  src/mixer/generate_audio.py
Due: ruff-check, ruff-format

Revert MAX_LENGTH_MS to use datetime.timedelta
  src/mixer/generate_audio.py
Due: ruff-check, ruff-format
